<template>
  <div>
    <el-button type="primary" @click="checkAdmin">admin</el-button>
    <el-button type="primary" @click="checkEditor">editor</el-button>
    <div v-show="$store.state.show">
      <el-input></el-input>
      <el-select>
        <el-option></el-option>
      </el-select>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    // 通过vuex去修改权限状态
    checkAdmin() {
      this.$store.commit("switchUser", "admin");
    },
    checkEditor() {
      this.$store.commit("switchUser", "editor");
    },
  },
};
</script>

<style lang="scss" scoped></style>
