<template>
  <div class="layout">
    <div class="top"><Top></Top></div>
    <div class="middle"><Middle></Middle></div>
    <div class="bottom"><Bottom></Bottom></div>
  </div>
</template>

<script>
import Top from "./Top.vue";
import Middle from "./Middle/index.vue";
import Bottom from "./Bottom.vue";

export default {
  components: { Top, Middle, Bottom },
};
</script>

<style scoped>
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.middle {
  margin-top: 10px;
}
</style>
