<script>
import axios from "axios";

export default {
  data() {
    return {
      tableData: [],
    };
  },
  // 通过JSX渲染DOM
  render() {
    return (
      <div>
        <el-table data={this.tableData} style="width: 100%">
          <el-table-column
            prop="date"
            label="日期"
            width="180"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="姓名"
            width="180"
          ></el-table-column>
          <el-table-column
            prop="address"
            label="地址"
            width="180"
          ></el-table-column>
          <el-table-column
            label="操作"
            {...{
              scopedSlots: {
                default: (scope) => {
                  return (
                    <el-button onClick={() => this.del(scope.row)}>
                      删除
                    </el-button>
                  );
                },
              },
            }}
          ></el-table-column>
        </el-table>
      </div>
    );
  },
  mounted() {
    // mock数据并请求接口获取数据
    axios.get("/mock/bottom").then((res) => {
      this.tableData = res.data.data;
    });
  },
  methods: {},
};
</script>

<style scoped></style>
