<template>
  <div>
    <Header>
      <slot></slot>
    </Header>
    <List></List>
  </div>
</template>

<script>
import Header from "./Header.vue";
import List from "./List.vue";

export default {
  components: {
    List,
    Header,
  },
};
</script>

<style scoped></style>
