<template>
  <div>
    <Renderless #default="{ submitForm }" :age="age" :rules="rules">
      <form action="#">
        年龄：<input type="text" v-model="age" />
        <button @click="submitForm">提交</button>
      </form>
    </Renderless>
  </div>
</template>

<script>
import Renderless from "./Renderless.vue";

export default {
  data() {
    return {
      age: "",
      rules: [
        {
          test: function (age) {
            return /^(?:[1-9][0-9]?|[1[01][0-9]|120)$/.test(age);
          },
          message: "请输入年龄",
        },
      ],
    };
  },
  components: { Renderless },
};
</script>

<style scoped>
.el-input {
  width: 200px;
}
</style>
