<template>
  <div>
    <slot :submitForm="submitForm"></slot>
  </div>
</template>

<script>
export default {
  props: ["age", "rules"],
  methods: {
    submitForm() {
      if (!this.rules.test) {
        alert("你输入的年龄不合法");
      }
    },
  },
};
</script>

<style scoped></style>
