<template>
  <div id="app">
    <Layout></Layout>
    <!-- <template v-slot:main> </template>

      <template v-slot:footer> </template> -->
  </div>
</template>

<script>
import Layout from "./components/Layout.vue";

export default {
  name: "App",
  components: { Layout },
};
</script>

<style scoped></style>
